keil/Listings
keil/Objects
keil/empty_LP_MSPM0G3507_nortos_keil.uvguix.13618
keil/empty_LP_MSPM0G3507_nortos_keil.uvguix.13618.bak
keil/empty_LP_MSPM0G3507_nortos_keil.uvoptx
keil/EventRecorderStub.scvd
keil/JLinkLog.txt
keil/JLinkSettings.ini
.vscode
Event.dot